/* variables */
:root{
    --color-primario: #d8d8d8;
    --color-secundarioo: #8d8d8d;
    --color-acento: #ffffff; 
    --color-detalle: #00ffd5;    
}

body {
    background-color: rgb(2, 24, 39);
    display: flex;
    justify-content: space-between;
}

/* cursor */
.cursor {
    z-index: 999;
    position: fixed;
    background: #102046;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 150px 5px #102045,
                0 0 150px 10px #102050,
                0 0 150px 15px #102055,
                0 0 150px 20px #102060,
                0 0 200px 20px #102065,
                0 0 250px 20px #102070;             
}


/* .cursor:before {
    content: '';
    position: absolute;
    background: #102070;
    width: 150px;
    height: 150px;
    opacity: 0.3;
    border-radius: 50%;
    transform: translate(-25%, -25%);

} */

/* presentación */
.present-responsive {
    display:none;
}
header {
   padding-left: 30px;
   height: 100%;
   position: sticky;
   top: 0;
   font-family: 'Roboto', sans-serif;
   color: var(--color-primario);
}
.presentacion {
    padding: 80px;
}
.nombre {
    font-size: 55px;
    font-family: 'Abril Fatface', cursive;
}
.titulo {
    font-size: 25px;
}
.presentacion p {
    font-size: 15px;
    color: var(--color-secundarioo);
}

/* navegador */
.nav {
    padding-top: 50px;
    font-family: 'Passion One', cursive;
    
}
.nav ul {
    list-style-type: none;
}

.menu li a {
    font-size: 15px;
    text-decoration: none;
    color: var(--color-secundarioo);
    letter-spacing: 1.5px;
    display: flex;
    margin-left: -35px;
}
.menu li a:hover {
    color: var(--color-acento);
}

/* .selected {
    border-bottom: 2px solid var(--color-detalle);
    margin-top: -5px;
    padding-top: -5px;
    background-color: rgb(71 85 105;
} */
.menu li a{
    align-items: center;
}
.active span{
    color: var(--color-acento);
}
.active .nav-indicator{
    height: 1px;
    width: 50px;
    background-color: var(--color-acento);
    margin: 0 10px 0 0;
    color: var(--color-acento);
    transition: 1s;
}

.nav-indicator{
    height: 1px;
    width: 20px;
    background-color: var(--color-secundarioo);
    margin: 0 10px 0 0;
    transition: 1s;
}

/* redes */
.redes {
    display: flex;
    padding-top: 50px;
}
.redes li{
    padding: 15px;
    list-style-type: none;
}
.redes li a{
    text-decoration: none;
}

.redes li a svg {
    height: 30px;
}

/* Derecha */
main {
    width: 60%;
    padding: 100px 70px 0 50px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-acento);
}

/* sobre mi */
.sobremi {
    scroll-margin-top: 100px;
}
.sobremi div{
    color: var(--color-secundarioo);
}

/* experienca */

.experiencia {
    scroll-margin-top: 100px;
    margin-top: 100px;
}

.trabajo1 {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    border-radius: 15px;
}
.trabajo1:hover{
    background-color: rgba(1, 66, 110, 0.2);
    color: var(--color-detalle);
}
/* .tit {
    color: var(--color-primario);
} */
/* .tit:hover {
    color: var(--color-detalle);
} */

.info a{
    color: var(--color-primario);
    text-decoration: none;
}
/* .info a:hover{
    color: var(--color-detalle);
} */
.fecha {
    text-align: center;
}
.fecha h3{
    font-size: 13px;
    margin: 20px;
}


.info{
    width: 70%;
    margin: 15px 15px 15px 0;
}

.info p {
    font-size: 15px;
}

.cv {
    margin: 30px;
    text-align: center;
}

.cv a{
    text-decoration: none;
    color: var(--color-acento);
    border-bottom: 1px solid rgb(2, 24, 39);
}
.cv a:hover{
    color: var(--color-detalle);
    border-bottom: 1px solid var(--color-detalle);
    transition: 1s;
}

/* proyectos */

.proyectos {
    scroll-margin-top: 100px;
    margin-top: 100px;
}

.card-body {
    font-family: 'Roboto', sans-serif;
}
.cardproyecto {
    background-color: transparent;
    border: none;
    max-width: 540px;

}
.cardproyecto:hover {
    background-color: rgba(1, 66, 110, 0.329);
    color: var(--color-detalle);
}


.img-card {
    text-align: center;
    transform: translateY(20%);
}
.img-card img{
    border-radius: 5%;
}

/* formacion */
.formacion{
    scroll-margin-top: 100px;
    margin-top: 100px;
}
.formacion h5 {
    padding: 30px;
    font-size: 12px;
}
.tecno {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.tecno div {
    padding: 15px;
}
.tecno div h1 {
    font-size: 15px;
    line-height: 95px;
    width: 100px;
    text-align: center;
}

.circulo{
    border: 3px outset var(--color-detalle);
    height: 100px;
    width: 100px;
    border-radius: 50%;   
    box-shadow: 0 0 10px #00ffd5,
                0 0 15px #00ffd5,
                0 0 20px #00ffd5;
    animation: giro 3s infinite ease-in;
    position: absolute;
}

@keyframes giro {
    100% {
        transform: rotate(360deg);
    }
}

.circulo-dis{
    border: 3px outset var(--color-detalle);
    height: 100px;
    width: 100px;
    border-radius: 50%;   
    box-shadow: 0 0 10px #00ffd5,
                0 0 15px #00ffd5,
                0 0 20px #00ffd5;
    animation: giro2 3s infinite ease-in;
    position: absolute;
}

@keyframes giro2 {
    100% {
        transform: rotate(-360deg);
    }
}



/* footer */

footer {
    margin: 50px 0 90px 0;
    color: var(--color-secundarioo);
}


@media only screen and (max-width: 1330px) {
    
    .nombre {
        font-size: 40px;
    }
    .titulo {
        font-size: 20px;
    }
    .presentacion {
        padding: 100px;
    }
    .presentacion p {
        font-size: 13px;
    }
    
}

@media only screen and (max-width: 1200px) {
   
    /* presentacion */
    .nombre {
        font-size: 35px;
    }
    .titulo {
        font-size: 15px;
    }
    .presentacion p {
        font-size: 12px;
        padding-right: 100px;
    }
    
    /* nav */
    .nav {
        padding-top: 80px;        
    }
    .nav ul {
        list-style-type: none;
    }
    
    .menu li a {
        font-size: 12px;
    }
    

    /* derecha */

    /* sobre mi */
    main {
        padding-top: 105px;
    }
    .sobremi h3{
        font-size: 25px;
    }
    .sobremi p{
        font-size: 15px;
    }

    /* experiencia */
    .experiencia {
        margin-top: 70px;
    }
    .experiencia h3 {
        font-size: 25px;
    }
    .fecha h3{
        font-size: 10px;
    }
    .tit{
        font-size: 20px;
    }
    .info h6 {
        font-size: 15px;
    }
    .info p {
        font-size: 12px;
    }
    .info a {
        font-size: 15px;
    }

    .cv a{
        font-size: 20px;
    }

    /* proyectos */

    .proyectos {
        margin-top: 70px;
    }

    .proyectos h3{
        font-size: 25px;
    }
    .tit-card {
        font-size: 20px;
    }
    .subtit-card {
        font-size: 13px;
    }
    .subtit2-card {
        font-size: 10px;
    }
    

    /* circulo */
    .tecno div {
        padding: 10px;
    }
    .formacion h3 {
        font-size: 25px;
    }
    .formacion h5 {
        padding: 20px;
        font-size: 10px;
    }
    .tecno div h1 {
        font-size: 10px;
        line-height: 80px;
        width: 80px;
        text-align: center;
    }        
    .circulo{
        height: 80px;
        width: 80px;
    }

    .circulo-dis{
        height: 80px;
        width: 80px;
    }

    /* footer */
    footer {
    font-size: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    
    body {
        display: inline-block;
        /* justify-content: space-between; */
    }


    /* presentación */
    
    header {
        display: flex;
        padding-left: 0;
        position: relative;
        justify-content: center;
    }
    .presentacion {
        display: none;  
    }
    .present-responsive {
        display: inline-block;        
    }
    
    .tarjeta {
        display: none;
    }
    
    .tarjeta-responsive {
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    .card-resp {
        text-align: center;
    }
    .nombre {
        font-size: 55px;
        font-family: 'Abril Fatface', cursive;
    }
    .titulo {
        font-size: 25px;
    }
    .presentacion p {
        font-size: 15px;
        color: var(--color-secundarioo);
    }


    /* navegador */
    .nav-responsive {
        padding-top: 50px;
        font-family: 'Passion One', cursive;
    }
    .nav-responsive ul {
        list-style-type: none;
    }
    .menu-resp {
        display: flex;
        justify-content: space-around;
    }
    .menu-resp li a {
        font-size: 30px;
        letter-spacing: 1.5px;
        padding: 16px;
        display: inline-block;
        flex-direction: column;
        text-decoration: none;
        color: var(--color-primario);
    }
    .menu-resp li a:hover {
        color: var(--color-acento);
    }
    .menu-resp li a{
        align-items: center;
    }

    .nav-indicator{
        height: 1px;
        width: 20px;
        background-color: var(--color-secundarioo);
        margin: 0 10px 0 0;
        transition: 1s;
    }

    /* redes */
    .redes {
        padding-left: 80px;
        display: flex;
    }
    .redes li{
        padding: 15px;
        list-style-type: none;
    }
    .redes li a{
        text-decoration: none;
    }

    .redes li a svg {
        height: 30px;
    }

    /* Derecha */
    main {
        width: 100%;
        padding: 100px 50px 0 50px;
    }

    /* sobre mi */

    .sobremi h3 {
        font-size: 25px;
        padding: 20px;
        text-align: center;
    }
    .sobremi div{
        font-size: 25px;
    }

    /* experienca */

    .experiencia {
        margin-top: 100px;
    }
    .experiencia div h3 {
        text-align: center;
        padding: 20px;
    }

    .trabajo1 {
        margin-top: 20px;
    }
    
    .info a{
        font-size: 25px;
    }
    
    .fecha {
        text-align: center;
    }
    .fecha h3{
        font-size: 20px;
        margin: 0px;
    }
    
    .tit {
        font-size: 30px;
    }
    .info h6 {
        font-size: 25px;
    }
    .info{
        width: 70%;
        margin: 15px 15px 15px 0;
    }

    .info p {
        font-size: 25px;
    }

    .cv {
        margin: 30px;
        text-align: center;
    }

    .cv a{
        font-size: 25px;
    }
  
    /* proyectos */

    .proyectos {
        margin-top: 100px;

    }
    .proyectos h3 {
        padding: 20px;
        text-align: center;
    }

    .cardproyecto {
        max-width: 700px;
        margin: 20px 0;
    }

    .card-tit {
        font-size: 30px;
    }
    .subtit-card {
        font-size: 25px;
    }
    .subtit2-card {
        font-size: 20px;
    }


    /* formacion */
    .formacion{
        padding: 50px 0;
    }
    .formacion h3 {
        padding: 30px;
        font-size: 20px;
        text-align: center;
    }
    .formacion h5 {
        font-size: 17px;
    }

    /* formacion */
    .tecno {
        justify-content: center;
    }

    .tecno div {
        padding: 15px;
    }
    .tecno div h1 {
        font-size: 25px;
        line-height: 170px;
        width: 170px;
        text-align: center;
    }

    .circulo{
        height: 170px;
        width: 170px;
    }

    .circulo-dis{
        height: 170px;
        width: 170px;
    }



    /* footer */

    footer {
        
        font-size: 25px;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    /* cursor */
    .cursor { 
        display: none;
    }    
    /* nav */
    .menu-resp li a {
        font-size: 20px;
    }
    /* proyecto */
    .cardproyecto {
        text-align: center;
    }
    .card-tit{
        padding-top: 15px;
    }
    .img-card {
        text-align: center;
        transform: translateY(20%);
    }
    .img-card img{
        height: 100px;
        width: 150px;
    }

    /* formacion */
    
    .tecno div {
        padding: 15px;
    }
    .tecno div h1 {
        font-size: 25px;
        line-height: 140px;
        width: 140px;
        text-align: center;
    }

    .circulo{
        height: 140px;
        width: 140px;
    }

    .circulo-dis{
        height: 140px;
        width: 140px;
    }

}

/* 
body {
    background-image: linear-gradient(#121212, #868686, #121212);
    margin: 0px;
}

AGREGAR VARIABLES
} */